apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-claim
  namespace: gitlab
  labels:
    app: gitlab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: gitlab
  name: gitlab
  labels:
    app: gitlab
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: gitlab
  template:
    metadata:
      labels:
        app: gitlab
    spec:
      containers:
        - name: gitlab
          image: gitlab/gitlab-ce:13.8.3-ce.0
          imagePullPolicy: IfNotPresent
          env:
            - name: GITLAB_OMNIBUS_CONFIG
              value: |
                external_url 'http://gitlab.dev.lan'
                nginx['listen_port'] = 80
                nginx['listen_https'] = false
                nginx['proxy_set_headers'] = {
                  'X-Forwarded-Proto' => 'https',
                  'X-Forwarded-Ssl' => 'on'
                }
                postgresql['enable'] = false
                gitlab_rails['db_username'] = "gitlab"
                gitlab_rails['db_password'] = "gitlab"
                gitlab_rails['db_host'] = "postgresql"
                gitlab_rails['db_port'] = "5432"
                gitlab_rails['db_database'] = "gitlab_home_dev"
                gitlab_rails['db_adapter'] = 'postgresql'
                gitlab_rails['db_encoding'] = 'utf8'
                redis['enable'] = false
                gitlab_rails['redis_host'] = 'redis'
                gitlab_rails['redis_port'] = '6379'
                gitlab_rails['gitlab_shell_ssh_port'] = 30022
                prometheus['monitor_kubernetes'] = false
                letsencrypt['enable'] = false
          volumeMounts:
            - name: gitlab
              mountPath: /etc/gitlab
              subPath: gitlab_configuration
            - name: gitlab
              mountPath: /var/opt/gitlab
              subPath: gitlab_data
          ports:
            - name: http-web
              containerPort: 80
            - name: tcp-ssh
              containerPort: 22
      volumes:
        - name: gitlab
          persistentVolumeClaim:
            claimName: gitlab-claim