apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitlab-data-vol
  namespace: gitlab
  labels:
    type: local
spec:
  capacity:
    storage: 10Gi
  accessModes:
    #- ReadOnlyMany
    - ReadWriteOnce
  # persistentVolumeReclaimPolicy: Delete
  storageClassName: gitlab-data #Задаем имя класса хранилища
  hostPath:
    path: "/tmp/gitlab"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-claim
  namespace: gitlab
  labels:
    app: gitlab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gitlab-data
---
apiVersion: v1
kind: Service
metadata:
  name: gitlab-svc
  namespace: gitlab
  labels:
    app: gitlab
spec:
  selector:
    app: gitlab
  ports:
    - name: http-web
      protocol: "TCP"
      port: 80
      targetPort: 80
    - name: http-reg
      protocol: "TCP"
      port: 5005
      targetPort: 5005

  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: gitlab-ssh-svc
  namespace: gitlab
  labels:
    app: gitlab-ssh
spec:
  selector:
    app: gitlab
  ports:
    - name: ssh
      protocol: "TCP"
      port: 22
      targetPort: 22
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: gitlab
  name: gitlab
  labels:
    app: gitlab
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: gitlab
  template:
    metadata:
      labels:
        app: gitlab
    spec:
      containers:
        - name: gitlab
          image: gitlab/gitlab-ce:13.8.3-ce.0
          imagePullPolicy: IfNotPresent
          env:
            - name: GITLAB_OMNIBUS_CONFIG
              value: |
                external_url 'https://gitlab.dev.lan'
                nginx['listen_port'] = 80
                nginx['listen_https'] = false
                nginx['proxy_set_headers'] = {
                  'X-Forwarded-Proto' => 'https',
                  'X-Forwarded-Ssl' => 'on'
                }
                postgresql['enable'] = false
                gitlab_rails['db_username'] = "gitlab"
                gitlab_rails['db_password'] = "gitlab"
                gitlab_rails['db_host'] = "postgresql-svc"
                gitlab_rails['db_port'] = "5432"
                gitlab_rails['db_database'] = "gitlab_home_dev"
                gitlab_rails['db_adapter'] = 'postgresql'
                gitlab_rails['db_encoding'] = 'utf8'
                redis['enable'] = false
                gitlab_rails['redis_host'] = 'redis-svc'
                gitlab_rails['redis_port'] = '6379'
                gitlab_rails['gitlab_shell_ssh_port'] = 30022
                prometheus['monitor_kubernetes'] = false
                letsencrypt['enable'] = false
                gitlab_rails['initial_shared_runners_registration_token'] = "YrPPR6TUUv3AzRjAKLiB"
                gitlab_rails['initial_root_password'] = "Ecx85GAZbbRJiV"
                gitlab_rails['registry_enabled'] = true
                gitlab_rails['registry_api_url'] = "http://docker-registry-svc:5000"
                registry_external_url 'https://reg.gitlab.dev.lan'
                registry_nginx['listen_port'] = 5005
                registry_nginx['listen_https'] = false
                registry_nginx['proxy_set_headers'] = {
                  'X-Forwarded-Proto' => 'https',
                  'X-Forwarded-Ssl' => 'on'
                }
          volumeMounts:
            - name: gitlab
              mountPath: /etc/gitlab
              #subPath: gitlab_configuration
            - name: gitlab
              mountPath: /var/opt/gitlab
              #subPath: gitlab_data
          ports:
            - name: http-web
              containerPort: 80
            - name: tcp-ssh
              containerPort: 22
            - name: http-reg
              containerPort: 5005
      volumes:
        - name: gitlab
          persistentVolumeClaim:
            claimName: gitlab-claim