---
apiVersion: v1
kind: Service
metadata:
  name: redis-svc
  labels:
    app: gitlab
spec:
  ports:
    - name: redis
      protocol: "TCP"
      port: 6379
      targetPort: 6379
  selector:
    app: gitlab
    tier: backend
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: redis
  labels:
    app: gitlab
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: gitlab
        tier: backend
    spec:
      containers:
        - image: redis:6.2-rc3-alpine
          name: redis
          ports:
            - containerPort: 6379
              name: redis
          volumeMounts:
            - name: redis
              mountPath: /data
            - name: redis
              mountPath: /var/lib/redis
  volumeClaimTemplates:
  - metadata:
      name: redis
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "local-path"
      resources:
        requests:
          storage: 10Gi
